.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-inline-size: var(--spacing-lg);
  block-size: var(--spacing-lg);
  padding-block: var(--spacing-none);
  padding-inline: var(--spacing-xs);
  border: 0;
  border-radius: var(--border-radius-sm);
  background: var(--color-background-neutral-bold-default);
  color: var(--color-content-inverse);
  font-family: var(--typography-heading-xxs-font-family);
  font-size: var(--typography-heading-xxs-font-size);
  font-weight: var(--typography-heading-xxs-font-weight);
  line-height: var(--typography-heading-xxs-line-height);
  letter-spacing: var(--typography-heading-xxs-letter-spacing);
  text-align: center;
  white-space: nowrap;
  user-select: none;
  vertical-align: middle;
}

.tone_default {
  background: var(--color-background-neutral-bold-default);
  color: var(--color-content-inverse);
}

.tone_brand {
  background: var(--color-background-brand-primary-bold-default);
  color: var(--color-content-inverse);
}

.tone_success {
  background: var(--color-background-success-bold-default);
  color: var(--color-content-inverse);
}

.tone_error {
  background: var(--color-background-error-bold-default);
  color: var(--color-content-inverse);
}
