.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-inline-size: var(--spacing-200);
  block-size: var(--spacing-200);
  padding-block: var(--spacing-0);
  padding-inline: var(--spacing-050);
  border: 0;
  border-radius: var(--border-radius-xs);
  background: var(--color-elevation-surface-default);
  color: var(--color-content-default);
  font-family: var(--typography-overline-sm-font-family);
  font-size: var(--typography-overline-sm-font-size);
  font-weight: var(--typography-overline-sm-font-weight);
  line-height: var(--typography-overline-sm-line-height);
  letter-spacing: var(--typography-overline-sm-letter-spacing);
  text-align: center;
  white-space: nowrap;
  user-select: none;
  vertical-align: middle;
}

.tone_default {
  background: var(--color-elevation-surface-default);
  color: var(--color-content-default);
}

.tone_inverse {
  background: var(--color-background-neutral-bold-default);
  color: var(--color-content-inverse);
}

.tone_brand {
  background: var(--color-background-brand-bold-default);
  color: var(--color-content-inverse);
}

.tone_success {
  background: var(--color-background-success-bold-default);
  color: var(--color-content-inverse);
}

.tone_error {
  background: var(--color-background-error-bold-default);
  color: var(--color-content-inverse);
}
